@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --left: 2rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .slider

.slider::before {
  content: "";

  position: absolute;
  top: 2rem;
  left: var(--left);
  width: 2rem;
  height: 2rem;
  background-color: blue;
} */
